<div>
  <h1>Reset your password</h1>
  <p>Enter your email to receive a recovery email</p>
  <form id="passForm">
    <label>Email</label>
    <input name="email" />
    <br />
    <input type="submit" />
  </form>
</div>
<script src="/js/recover.js"></script>