<div>
  <h1>Password reset</h1>
  <form id="newpasswordForm">
    <input type="hidden" name="email" value="{{email}}" />

    <label>New Password:</label>
    <input name="newpass" type="password" />
    <br />
    <input type="submit" value="Change password" />
  </form>
</div>
<script src="/js/reset.js"></script>